<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/libs/materialize/dist/css/materialize.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
        <link href="<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,500i,700,700i,900" rel="stylesheet">" rel="stylesheet">
        <title>Favorites</title>
    </head>

<body>
    <div class="container">
        <div class="row">
            <div class="header"></div>
            
        </div>
        <div class="row">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Hanging From Trees</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="nav"><a href="/">Home</a></li>
                        <li class="nav"><a href="/favorites">Our Favorites</a></li>
                        <li class="nav"><a href="/about">The Tribe</a></li>
                        <li class="nav"><a href="/blog">Blog</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h1>Hammocks and Stuff</br> <small>With the Tribe Stamp of Approval</small></h1>
                    <p>The hammocks and accessories on this page have all been tested, slept in, camped with, and approved by
                        the Tribe. These really are the favorites!</p>
                </div>

            </div>

        </div>
        <div class="col-lg-12">
            <button>Best Places to Buy Hammocks</button>
            <ul class="button">
                <li class="dropdown"><a href="https://www.bearbuttteam.com/">Bear Butt Hammocks</a></li>
                <li class="dropdown"><a href="https://www.tentsile.com/">Tentsile.com</a></li>
                <li class="dropdown"><a href="https://www.eaglesnestoutfittersinc.com/">Eagle's Nest Outfitters</a></li>

            </ul>
        </div>
    </div>

    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>

</body>

</html>