/* page header */
<<<<<<< HEAD
.container {
  width: 90%;
}

nav {
  background-color: #212121;
  padding: 0 35px;
}

.nav-wrapper {
  background-color: #212121;
}

.nav-mobile {
  background-color: #424242;
}

h1 {
  color: #212121;
}

small {
  font-weight: 100;
=======
li.dropdown {
  margin: 5px;
  padding: 0 5px;
>>>>>>> a0db20f62529ec708fd9276dffe30a8c920c17ac
}
