@import 'header';

.container {
  width: 90%;
}
nav {
  padding: 0 35px;
  border-radius: 6px;
  .nav-wrapper {
    border-radius: 6px;
  }
  .nav-mobile {
  }
}

small {
  font-weight: 100;
}
.page-footer {
  padding: 0 35px;
  border-radius: 6px;
}
img {
  border-radius: 6px;
  
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
header {
  border-radius: 6px;
}
.slider {
  border-radius: 6px;
}
.slides {
  border-radius: 6px;
}
.col.s12 {
  border-radius: 6px;
}
.card-panel {
  border-radius: 4px;
}
